
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{/*definir as configurações de cores,fonte a largura do site*/
    /*PALETA DE CORES*/
    --corfundo:#FFF;
    --cortexto:#000;
    --corprimaria:#40011E;/*cor principal*/
    --corsecundaria:#D92579;/*cor sencundaria do site*/
    --cordestaque:#F28749;/*cor destaques do site*/

    /*FONTES*/
    --fontegeral: 'Roboto', sans-serif; /*fonte geral do site*/
    --fontetitulos: 'Quicksand', sans-serif;/*fonte para títulos do site*/
    --fontedestaque: 'Playfair Display', serif;/*fonte especial para site*/

    /*LARGURAS*/
    --larguramaxima:1000px;/*Essa é a largura maxima do site*/
    --larguraminima:250px;/*Essa é a largura mínima do site*/

}

*{
    margin: 0; /* MARGIN define as maegens EXTERNAS*/
    padding: 0; /*PEDDING é a margem INTERNA */
}
body{background-color: var(--corfundo); /* DEFINE A COR DE FUNDO DA PÁGINA */
     font-family: var(--fontegeral);/*define fonte padrão do site*/

}

header,main,footer{ /*VOLTAR A PARTI DAQUE*/
    max-width: var(--larguramaxima);/*Largura maxima do site*/
    min-width: var(--larguraminima);/*Largura mínina*/
    margin: auto;
    position: relative;

}

#sociais{
    
    position: absolute;
    width: 160px;
    right: 20px;
    top: 300px;
    display: flex;
    justify-content: space-between;


}

.social{
    width: 45px;
    filter: invert(0) opacity(0.8);
}
.social:hover{
filter: invert(0) opacity(0.7) drop-shadow(0px 0px 0px rgba(247, 12, 4, 0.966));
}

#capa{
    width: 100%px;
    height: 350px;
    background-image: url(images/capa.jpg);
    background-size: cover;
   -repeat: no-repeat;
    background-position:  0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
#capa h1{ 
    color: var(--cortexto);
    font-size: 2.3em;
font-family:var(--fontetitulos);
}
#capa p{
    color: var(--corprimaria) ;
    font-size: 1.5em;
}
#fotoperfil{
    width: 130px; 
    position: absolute;
    left: 30px; 
    top: 250px;
    border-radius: 15px;

}
nav{
     
     display: flex;
     justify-content: center;

}
#menu{

    
    width: 300px;
    display: flex;
    justify-content:space-between 
}
#menu a{  
      
    text-decoration:none ;
    background-color: var(--corprimaria);
    color: var(--corfundo);
    padding: 8px;
    border-radius: 3px;

}
#menu a:hover{
    background-color: var(--cordestaque);
    color: var(--cortexto)
}